*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  position: relative;
  
  @include desktop-small {
    padding-top: $header-gap;
  }
}
.bg-white{
  background-color: var(--color-white) !important;
}
img{
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scale(1.05);
  }
}
.terms {
  ol{
    margin-left: 30px;
  }
  li{
    margin: 10px;
  }

}

h1 {
  font-size: var(--h1-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 3.81rem;

  @include desktop-small {
    font-size: 2.5rem;
    line-height: 3.3rem;
  }
}

h1 span {
  color: var(--color-primary);
}

h2 {
  font-size: var(--h2-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include desktop-small {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

h2 span {
  color: var(--color-primary);
}

h3 {
  font-size: var(--h3-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 2.16975rem;

  @include desktop-small {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 span {
  color: var(--color-secondary);
}

h4 {
  font-size: var(--h4-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 2.16975rem;

  @include desktop-small {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

h4 span {
  color: var(--color-primary);
}

h5 {
  font-size: var(--h5-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 2.16975rem;
}

h5 span {
  color: var(--color-primary);
}


p {
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

a {
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: all .3s ease-in-out;/* Add a smooth transition effect */
}
a:hover{
  transform: translateY(-.15rem);
}

label {
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
  display: block;
}

.button {
  display: block;
  appearance: none;
  background: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  // font-size: 1.25rem;
  font-family: Inter;
  // font-weight: 600;
  line-height: 1.625rem;
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */

  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 0px;
  border: 1px solid var(--gradient);
}


.button:hover {
  box-shadow: 0px 4px 16px 0px rgba(51, 51, 51, 0.08), 0px 4px 4px 0px rgba(51, 51, 51, 0.04);
  transform: translateY(-.15rem);
}


.button-outline {
  display: block;
  appearance: none;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
  // font-size: 1.25rem;
  font-family: 'Urbanist', sans-serif;
  // font-weight: 600;
  line-height: 1.625rem;
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */

  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}


.button-outline:hover {
  box-shadow: 0px 4px 16px 0px rgba(51, 51, 51, 0.08), 0px 4px 4px 0px rgba(51, 51, 51, 0.04);
  transform: translateY(-.15rem);
  background: var(--color-primary);
  color: var(--color-white);
}


.button-transparent {
  display: block;
  appearance: none;
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
  // font-size: 1.25rem;
  font-family: 'Urbanist', sans-serif;
  // font-weight: 600;
  line-height: 1.625rem;
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */

  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}


.button-transparent:hover {
  box-shadow: 0px 4px 16px 0px rgba(51, 51, 51, 0.08), 0px 4px 4px 0px rgba(51, 51, 51, 0.04);
  transform: translateY(-.15rem);
  background: var(--color-primary);
  color: var(--color-white);
}

.button-gradient-primary {
  display: block;
  appearance: none;
  border: none;
  padding: 0.875rem 1.5625rem;
  border-radius: 0.5rem;
  background: linear-gradient(98deg, var(--color-primary) 2.35%, var(--color-primary-light) 96.42%);
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */

  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  line-height: 1.625rem;
}

.button-gradient-primary:hover {
  background: var(--color-primary);
  box-shadow: 0px 4px 16px 0px rgba(51, 51, 51, 0.08), 0px 4px 4px 0px rgba(51, 51, 51, 0.04);
  transform: translateY(-.15rem);
}


.button-gradient-secondary {
  display: block;
  appearance: none;
  border: none;
  padding: 0.875rem 1.5625rem;
  border-radius: 0.5rem;
  background: linear-gradient(98deg, var(--color-primary-light) 2.35%, var(--color-primary) 96.42%);
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */

  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  line-height: 1.625rem;
}

.button-gradient-secondary:hover {
  background: var(--color-primary);
  box-shadow: 0px 4px 16px 0px rgba(51, 51, 51, 0.08), 0px 4px 4px 0px rgba(51, 51, 51, 0.04);
  transform: translateY(-.15rem);
}

.form-input {
  margin-bottom: 1rem;
}

.button-secondary {
  display: block;
  appearance: none;
  border: none;
  padding: 0.875rem 1.5625rem;
  border-radius: 0.5rem;
  background: var(--gradient-secondary);
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */

  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  line-height: 1.625rem;
}

.button-secondary:hover {
  background: var(--color-primary);
  box-shadow: 0px 4px 16px 0px rgba(51, 51, 51, 0.08), 0px 4px 4px 0px rgba(51, 51, 51, 0.04);
  transform: translateY(-.15rem);
}

input,
textarea {
  appearance: none;
  border: none;
  width: 100%;
  display: flex;
  padding: 0.625rem 1rem 0.625rem 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 1px solid rgba(164, 174, 198, 0.33);
  transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
  background: var(--white, #fff);
  color: rgba(14, 14, 14, 0.708);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
  &:hover{
    box-shadow: 0px 4px 16px 0px rgba(51, 51, 51, 0.08), 0px 4px 4px 0px rgba(51, 51, 51, 0.04);
  }
}

input::placeholder,
textarea::placeholder {
  color: rgba(var(--color-black), 0.5);
  font-family: 'Inter', sans-serif;
}

/* Define the slide-up animation */
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(30px);
    /* Start slightly below and invisible */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* Slide up to its original position */
  }
}

/* Define the slide-up animation for the .animate class */
.animate {
  animation: slide-up 0.5s ease both;
  /* Adjust the duration and timing function */
}

/* Apply the animation to elements with the slide-up class */
.slide-up {
  opacity: 0;
  /* Initially invisible */
  transform: translateY(30px);
  /* Start slightly below */
}

/* Initial style for the elements with the slide-in class */
.slide-in {
  opacity: 0;
  transform: translateX(-50px);
  /* Adjust the initial position off-screen */
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}

.zoom-in-image {
  transform: scale(0.1);
  /* Start with a small size */
  transition: transform 1s ease;
  /* Add a transition effect for smooth scaling */

  &.active {
    transform: scale(1);
    /* Scale to the original size */
  }
}

.form-input:nth-child(1),
.form-input:nth-child(2),
.form-input:nth-child(3),
.form-input:nth-child(4),
.form-input:nth-child(5) {
  flex: 0 0 49%;

  @include desktop-small {
    flex: 0 0 100%;
    width: 100%;
  }
}

.form-input:nth-child(5) {
  flex: 0 0 100%;
}

.form-input-wrapper,
.form-textarea-wrapper {
  position: relative;
}

.form-input[disabled="disabled"] {
  background-color: $field_background_disabled;
}

label.error {
  color: $label_error;
  position: absolute;
  bottom: -32px;
  font-size: 14px;
  right: 0;
}

.hidden {
  display: none;
}

/* Styles for elements hidden on large screens */
@media only screen and (min-width: 1024px) {
  .hidden-on-lg {
    display: none;
  }

  .flex-on-lg {
    display: flex;
  }
}

.text-lg {
  color: var(--color-secondary);
  text-align: center;
  /* Text lg/Semibold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.text-md {
  /* Display md/Bold */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  /* 122.222% */
  letter-spacing: -0.72px;
}

.text-center {
  text-align: center;
}
.w-full{
  width: 100%;
}
.subheader {
  align-items: center;
  background: var(--color-secondary);
  padding: 24px 16px;
  text-align: center;
  color: var(--color-white);
  .subheader-content {
    max-width: 1270px;
    margin: 0 auto;
    padding: 2.5rem 1rem;
  }
}