{% extends 'partials/variables.html.twig' %}

{% block render_block %}
    <div class="form-block slide-up">
        <div class="block-title">
            <h2>{{ page.header.title }}</h2>
        </div>

        <div class="container">
            {% include "forms/form.html.twig" with {form: forms('contact-us-form'), action: '#'} %}
        </div>
    </div>
{% endblock %}