{% extends 'partials/variables.html.twig' %}

{% set module = page.header.text_right %}
{% set image = page.media[page.header.text_right.image] %}

{% block render_block %}
    <div class="paragraph text-right slide-up {{ module.classes }}">
        <div class="container text-right-container">
            <div class="paragraph-image">
                <img class="theme-shadow" src="{{ image.url }}"/>
            </div>
            <div class="text-right-text">
                <div class="block-title">
                    <h3>{{ module.title.translatable }}</h3>
                </div>
                <p>{{ page.content|raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}