<div id="cookie-modal">
    <div class="content">
        <div>
            <h5 class="cookie-title">{{ "BSCOPE.COOKIE_TITLE"|t }}</h5>
            <div class="cookie-text">{{ "BSCOPE.COOKIE_TEXT"|t }} <a href="/cookie-policy">{{ "BSCOPE.COOKIE_LINK"|t }}</a>.</div>
        </div>
        <div id="cookie-button">{{ "BSCOPE.COOKIE_BTN_TEXT"|t }}</div>
    <div>
</div>