
#unsubscribe {
    background-color: #F5FBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .unsubscribe-container {
        border-radius: 20px;
        max-width: 600px;
        width: 100%;
        display: flex;
        padding: 44px;
        margin:20px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        border-radius: 18px;
        background: var(--color-white);
        background-color: white;
        margin: 10rem 0;

        /* Shadow */
        box-shadow: 0px 4px 16px 0px rgba(51, 51, 51, 0.08), 0px 4px 4px 0px rgba(51, 51, 51, 0.04);

        h4 {
            text-align: center;
            font-family: Montserrat;
            font-size: 25px !important;
            font-style: normal;
            font-weight: 600;
            width: 80%;
            margin-bottom: 20px;
        }

        form{
            width: 100%;
        }
        

        #unsubscribe-us {


            //grid-template-columns: repeat(2, 1fr);
            border-radius: 24px;
            max-width: 100%;
            width: 100%;

            .grid {
                display: grid;
                grid-template-columns: 50% 50%;

                @media (max-width: 800px) {
                    .form-field {
                        grid-column: span 2;
                    }
                }
            }

            button {
                margin: 0 auto;
                display: flex;
                height: 48px;
                padding: 20px 40px;
                align-items: center;
                gap: 10px;
            }

            .form-field {
                margin: 0 10px;
            }

            .form-actions {
                text-align: center;
                margin: 10px;
            }


        }

        .form-field:nth-child(5) {
            grid-column: span 2;
        }
    }
}