.footer-right-payment-logo {
  display: flex;
  padding: 2.5rem 0 0 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.625rem;
  align-self: stretch;
  background: var(--primary-dark);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  .footer-right-payment-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto 80px;
    gap: 2.5rem;
    @include desktop-small {
    padding: 2rem 1rem;
    }
    .footer-right-payment-logo-top {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      align-self: stretch;
      padding: auto 90px;

      @include desktop-small {
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        padding: auto;
      }

      .footer-right-payment-logo-contact {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding: 0px 32px;

        @include desktop-small {
          width: 100%;
          padding: 0px 0px;
        }

        h4 {
          font-family: Inter;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
        }

        p {
          font-size: 16px;
          margin-bottom: 24px;

          @include desktop-small {
            margin-bottom: 12px;

            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
          }
        }

        a {
          color: var(--color-dark);
          text-decoration: none;

          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
      }

      .logo {
        max-width: 180px;
        height: auto;

        @include desktop-small {
          width: 82px !important;
          height: 82px !important; 
          align-self: center;
        }
      }

      .footer-right-payment-logo-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.4375rem;
        align-self: stretch;
        padding-left: 150px;

        @include desktop-small {
          padding-left: 0px;
        }

        h4 {
          display: none;
        }

        .menu-item {
          display: flex;
          padding: 0.5rem 0;
          justify-content: flex-start;
          align-items: center;
          // gap: 32px;
          margin-bottom: 32px;

          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;

          @include desktop-small {
            margin-bottom: 12px !important;
            font-family: Inter;
            font-size: 16px;
            font-style:normal;
            font-weight: 600;
            line-height: 24px;
            padding: 0rem !important;
          }

          a {
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;


            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer-right-payment-logo-cards {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
      @include desktop-small {
        width: 100%;
      }

      img {
        height: 60px;
      }
    }


  }

  .footer-right-payment-logo-bottom {
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    margin-top: 4rem;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    border-top: 1px solid var(--color-dark, #fff);
    background: var(--color-black);
    color: var(--color-white);
    @include desktop-small{
      margin-top: 0;
    }
    p {
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      text-align: center;

    }
  }
}
