{% set body_classes = 'bg-gray-50' %}
{% extends 'partials/base.html.twig' %}

{% block content %}

    {% include 'partials/no-hero-header.html.twig' with {
        'title': page.header.title,
        'links': [
            {
                'url': '/',
                'title': "METRICALO.HOME"|t
            },
            {
                'title': page.header.title|t
            }
        ]
    } %}

    <section class="">
        <div class="container" >
            <div class="" >
                <div class="theme-section" style="padding: 3rem 5rem;">
                    {{ page.content|raw }}
                    {{ website_manager_api.getCookiePolicy.html|raw }}
                </div>
            </div>
        </div>

    </section>
    
{% endblock %}