{% extends 'partials/base.html.twig' %}
{% block article %}
  {# <article class="{{ max_width }} {{ section_padding }} flex-1 w-full pt-24 pb-8">
    <div class="prose max-w-none pt-12 prose">
      <h1>{{ 'METRICALO.COURSE'|t }}</h1>
    </div>
  </article> #}
  {% if config.data.iframe_url %}
    {% if '[WEBSITE_USER_ID]' in config.data.iframe_url %}
      {% set iframe_url = config.data.iframe_url | replace({'[WEBSITE_USER_ID]': grav.user.data.id}) %}
    {% else %}
      {% set iframe_url = config.data.iframe_url %}
    {% endif %}
  {% endif %}
  {% if config.data.application_url %}
    {% if '[WEBSITE_USER_ID]' in config.data.application_url %}
      {% set iframe_url = config.data.application_url | replace({'[WEBSITE_USER_ID]': grav.user.data.id}) %}
    {% else %}
      {% set iframe_url = config.data.application_url %}
    {% endif %}
  {% endif %}
  <iframe src="{{ iframe_url }}" width="100%" height="100%" frameborder="0" style="min-height: 1014px;display: flex; justify-content: center; align-items: center;" onload="document.getElementById('spinner').style.display='none';"></iframe>
{% endblock %}