{% extends 'partials/base.html.twig' %}

{% block article %}
    {% include 'partials/no-hero-header.html.twig' with {
        'title': page.header.title,
        'links': [
            {
                'url': '/' ~ grav.language.getActive,
                'title': "METRICALO.HOME"|t
            },
            {
                'title': page.header.title
            }
        ]
    } %}

    <article class="{{ max_width }} {{ section_padding }} flex-1 w-full py-24 login-page-content wrapper bg-light angled upper-end slide-up">
        <div class="form-login-wrapper">
            {% include 'partials/notifications.html.twig' %}
            {% include 'partials/messages.html.twig' %}
            {% include 'partials/login-form.html.twig' with {form: forms('user-login')} %}
        </div>
    </article>
{% endblock %}