.content-section.change-password-form {
  max-width: 600px;
  padding-bottom: $content-bottom-margin;
  padding-top: $content-bottom-margin;

  label {
    display: none;
  }

  .form-actions {
    text-align: center;

    button {
      display: inline-block;
    }
  }
}