.pricings {
  display: flex;
  padding: 100px;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
  background-color: var(--color-white);

  @include desktop-small {
    padding: 4rem 0.625rem 4.25rem 0.625rem;
  }

  div {
    width: 100%;
  }

  .pricings-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0rem;
    padding: 0 2rem;
    max-width: 1200px;
    flex-wrap: wrap;

    @include desktop-small {
      padding: 0;
    }

    @include mobile {
      flex-direction: column;
      padding: 0;
    }

    .pricing {
      display: flex;
      padding: 2rem;
      flex-direction: column;
      justify-content: space-between;
      transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
      align-items: center;
      flex: 1 0 31%;
      max-width: 31%;
      gap: 2rem;
      align-self: stretch;
      border: 1px solid var(--color-black);
      
      
      @include mobile {
        max-width: 600px;
        width: 100%;
      }
      
      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
        transform: translateY(-.15rem);
      }

      .pricing-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        align-self: stretch;

        .type {
          display: flex;
          padding: 0.375rem 0.75rem;
          justify-content: center;
          align-items: flex-start;
          gap: 0.625rem;
          border-radius: 0.5rem;
          background: transparent;
          color: var(--color-black);
          text-align: center;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
        }

        .pricing-group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-self: stretch;
          text-align: center;

          .price {
            font-family: Inter;
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: 72px; /* 120% */
            letter-spacing: -1.2px; 
          }

          p {
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
          }

          .trial {
            text-align: center;
            /* Display xs/Semibold */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
          }

          .period p {
            font-weight: 300;
          }
        }

        .price {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          align-self: stretch;
          

          h1 {
            color: var(--color-primary);
            font-weight: 700;
            font-size: 2rem;
          }

          .type {
            display: flex;
            padding: 0.375rem 0.75rem;
            justify-content: center;
            align-items: flex-start;
            gap: 0.625rem;
            border-radius: 0.5rem;
            background: transparent;
            color: var(--color-black);
            text-align: center;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
          }

          .pricing-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            text-align: center;

            .price {
              font-family: Inter;
              font-size: 60px;
              font-style: normal;
              font-weight: 400;
              line-height: 72px; /* 120% */
              letter-spacing: -1.2px; 
            }

            p {
              font-family: Inter;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 32px;
            }

            .trial p {
              text-align: center;
              /* Display xs/Semibold */
              font-family: Inter;
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 32px; /* 133.333% */
            }

            .period p {
              font-weight: 300;
            }
          }
        }

        .benefits {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          align-self: stretch;

          .benefit {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
          }
        }
      }
      .pricing-btn{
        width: 100%;
        text-align: center;
      }
    }
  }
}
