.text-right {
  align-self: stretch;
  height: 782px; 
  padding: 90px 80px !important;
  background: var(--color-tertiary);
  
  @include desktop-small {
    padding: 1rem !important;
    height: auto;
  }

  .text-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 71px;
    padding: 0rem;

    @include desktop-small {
      flex-direction: column;
    }

    .text-right-image {
      max-width: 614px;
      flex: 1 0 49%;
      align-self: stretch;

      @include desktop-small {
        flex: unset;
      }

      img {
        width: 100%;
      }
    }

    .text-right-text {
      display: flex;
      // padding: 0px 32px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      width: 585px; 

      @include desktop-small {
        padding: 0px;
        text-align: start;
        width: auto;
      }

      .block-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch;
        color: var(--color-black);

        h3 {
          font-family: Inter;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 60px; /* 125% */
          letter-spacing: -0.96px; 

          @include desktop-small {
            font-family: Inter;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px; /* 122.222% */
            letter-spacing: -0.72px; 
          }
        }
      }

      p {
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;

        @include desktop-small {
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }

    }
  }
}
